.item-menu-admin{
    border: 2px solid orange;
}
.item-menu-admin:hover{
    background-color: orange;
}
.item-menu-admin strong{
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 50%;
}
.content-menu #img-logo{
    width: 65%;
    margin: auto;
}
.cantidad{
    cursor: pointer;
}
.cantidad>p{
    margin: auto;
    padding: 20px 0;
}
.content-menu{
    margin-bottom: 20px;
}

/* ESTILOS EVENTOS*/
.contenedor-eventos-paquetes{
	border: 10px solid #fff;
	box-sizing: border-box;
    padding: 50px 0;
}
.bubbly-button {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgb(255 0 130 / 50%);
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.titulo-paquetes {
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
}
#caja-paquete {
    box-sizing: border-box;
    border: 2px solid gray;
    padding: 50px 100px;
}
.contenedor-eventos p {
    text-align: center;
    background: #FCDBFD;
    font: small-caps 100%/200% serif;
    border-radius: 10px;
}
.contenedor-eventos img {
    background-size: cover;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.contenedor-eventos img:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #de96f3;
    -webkit-box-shadow: 0px 0px 10px 10px #f8aefb;
    transform: rotate(360deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform: rotate(360deg);
}
.border-gris {
    font-size: 14px;
}
.seccion-cajas-paquetes .nav-item:hover :not(.active){
    cursor: pointer;
    background-color: #ccc;
}
.seccion-cajas-paquetes .active{
    font-weight: bold!important;
  }
.formulario-genial .contenedorPaquetes, .cajas-paquetes {
    border: solid black 3px;
    text-align: center;
    border-radius: 14px;
    background: linear-gradient(to bottom, pink, white);
    background-color: pink;
}
.text-muted {
    list-style: none;
    text-align: left;
    padding: 0 30px;
}
.icon-btn-evento{
    margin-right: 10px;
}
/* FIN ESTILOS EVENTOS*/